<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="SimuLTE Configuration Editor"
            extensions="ini"
            icon="icons/simulte.png"
            class="com.simulte.configeditor.editors.SimuLTEConfigEditor"
            id="org.omnetpp.simulte.editors.SimuLTEConfigEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.omnetpp.wizards"
            class="com.simulte.configeditor.wizards.NewLteConfigWizard"
            icon="icons/simulte.png"
            id="com.simulte.configeditor.NewLteConfigWizard"
            name="New SimuLTE Configuration">
      </wizard>
   </extension>

</plugin>
